<%- include("partials/header"); %>

  <div class="main">
    <h1>Film Basic</h1>
    <br>
    <p>
      Search for a film or a series to know </br>
      the basic details such as imdb rating, plot, director, actors etc.
    </p>
  </div>

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous"
  />
  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" accept="/" method="POST">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <input
                class="form-control form-control-lg form-control-borderless"
                name="title"
                type="search"
                placeholder="Search"
              />
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-lg btn-secondary" type="submit">
                Search
              </button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>

  <%- include("partials/footer"); %>