.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

body {
  background-color: #2b2e4a;
  color: white;
}


.main {
  text-align: center;
  margin-top: 100;
  font-family: 'Varela Round', sans-serif;
}

.main-details {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

p {
  font-size: larger;
}

table {
  font-size: larger;
}

.title {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50;
  margin-top: 50;
}
