.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

body {
  background-color: #114e60;
  color: white;
}

.brand {
  margin-left: 30%;
}

.navbar-items {
  margin-right: 30%;
}
