.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

body {
  background-color: #2b2e4a;
  color: white;
}


.main {
  text-align: center;
  margin-top: 100;
}

.main-details {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

p {
  font-size: larger;
}

table {
  font-size: larger;
}

.title {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50;
  margin-top: 50;
}

h1 {
  margin-bottom: 40px;
  font-family: 'Varela Round', sans-serif;
}

label {
  color: #333
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px
}

.card {
  margin-left: 10px;
  margin-right: 10px
}